In [3]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import re

In [4]:
BPM_stats = pd.read_csv('all_players_stats.csv')
combine_measurements = pd.read_csv('NBA Combine 2000-2019 - NBA Combine Data Set.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 1968: invalid continuation byte

In [ ]:
BPM_stats.describe()
BPM_stats.info()

In [4]:
#Remove the unnamed :0 column
BPM_stats = BPM_stats.iloc[:,1:8]

In [5]:
combine_measurements.describe()
combine_measurements.info()

,YEAR,NO SHOES,WITH SHOES,REACH,WEIGHT,WINGSPAN,WING DIFF,SHUTTLE,3/4 SPRINT,STD VERT,MAX VERT,HAND L,HAND W
count,1345.000000,1339.000000,1038.000000,1338.000000,1337.000000,1340.000000,1342.000000,356.000000,1191.000000,1199.000000,1199.000000,608.000000,608.000000
mean,2009.055019,77.625123,78.828767,103.410463,216.077263,82.431530,4.791885,3.107809,3.288648,29.160801,34.300250,8.741776,9.407484
std,5.865426,3.437584,3.365468,5.524650,26.584121,4.088891,2.246575,0.178620,0.134840,3.096007,3.700597,0.485089,0.712166
min,2000.000000,67.750000,69.000000,17.000000,149.200000,70.000000,-2.000000,2.640000,2.910000,19.500000,21.000000,7.500000,7.000000
25%,2004.000000,75.250000,76.500000,100.000000,197.000000,79.750000,3.250000,2.990000,3.200000,27.000000,31.500000,8.500000,9.000000
50%,2008.000000,78.000000,79.000000,104.000000,214.400000,82.750000,4.750000,3.100000,3.270000,29.000000,34.000000,8.750000,9.500000
75%,2014.000000,80.250000,81.250000,107.000000,234.000000,85.500000,6.250000,3.220000,3.370000,31.500000,37.000000,9.000000,10.000000
max,2019.000000,89.250000,91.000000,122.500000,334.000000,98.250000,13.750000,3.760000,3.810000,39.500000,45.500000,10.500000,12.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1345 entries, 0 to 1344
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   PLAYER      1345 non-null   object
 1   YEAR        1345 non-null   int64
 2   POS         1345 non-null   object
 3   NO SHOES    1339 non-null   float64
 4   WITH SHOES  1038 non-null   float64
 5   REACH       1338 non-null   float64
 6   WEIGHT      1337 non-null   float64
 7   WINGSPAN    1340 non-null   float64
 8   WING DIFF   1342 non-null   float64
 9   SHUTTLE     356 non-null    float64
 10  3/4 SPRINT  1191 non-null   float64
 11  STD VERT    1199 non-null   float64
 12  MAX VERT    1199 non-null   float64
 13  BENCH       1000 non-null   object
 14  BODY FAT %  1109 non-null   object
 15  HAND L      608 non-null    float64
 16  HAND W      608 non-null    float64
dtypes: float64(12), int64(1), object(4)
memory usage: 178.8+ KB

## Cleaning combine_measurements

In [6]:
combine_measurements['BODY FAT %'] = combine_measurements['BODY FAT %'].astype(str)
combine_measurements['BODY FAT %'] = combine_measurements['BODY FAT %'].apply(lambda x : x.replace('%',''))
combine_measurements['BODY FAT %'] =combine_measurements['BODY FAT %'].astype(float)

In [7]:
combine_measurements.rename(columns={'PLAYER':'Name'},inplace=True)

In [8]:
def clean_name(text):
    text = re.sub(r" III","",text)
    text = re.sub(r" II", "", text)
    text = re.sub(r"Jr.","",text)
    text = re.sub(r'[0-9]','',text)

                  
                
    return text

combine_measurements['Name'] = combine_measurements['Name'].apply(lambda x : clean_name(x))

In [9]:
combine_measurements.fillna(-1,inplace=True)

In [10]:
combine_measurements['BENCH'] = combine_measurements['BENCH'].apply(lambda x : -1 if x == '-' else x)
combine_measurements['BENCH'] = combine_measurements['BENCH'].astype(int)

In [11]:
combine_measurements.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1345 entries, 0 to 1344
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        1345 non-null   object
 1   YEAR        1345 non-null   int64
 2   POS         1345 non-null   object
 3   NO SHOES    1345 non-null   float64
 4   WITH SHOES  1345 non-null   float64
 5   REACH       1345 non-null   float64
 6   WEIGHT      1345 non-null   float64
 7   WINGSPAN    1345 non-null   float64
 8   WING DIFF   1345 non-null   float64
 9   SHUTTLE     1345 non-null   float64
 10  3/4 SPRINT  1345 non-null   float64
 11  STD VERT    1345 non-null   float64
 12  MAX VERT    1345 non-null   float64
 13  BENCH       1345 non-null   int32
 14  BODY FAT %  1345 non-null   float64
 15  HAND L      1345 non-null   float64
 16  HAND W      1345 non-null   float64
dtypes: float64(13), int32(1), int64(1), object(2)
memory usage: 173.5+ KB

## Make Dataframe With Combine Measurements and First Year BPM

In [12]:
first_year_BPM_stats=BPM_stats.drop_duplicates('Name')

In [13]:
first_year_df = pd.merge(combine_measurements,first_year_BPM_stats,on=['Name'])

In [14]:
first_year_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 837 entries, 0 to 836
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             837 non-null    object
 1   YEAR             837 non-null    int64
 2   POS              837 non-null    object
 3   NO SHOES         837 non-null    float64
 4   WITH SHOES       837 non-null    float64
 5   REACH            837 non-null    float64
 6   WEIGHT           837 non-null    float64
 7   WINGSPAN         837 non-null    float64
 8   WING DIFF        837 non-null    float64
 9   SHUTTLE          837 non-null    float64
 10  3/4 SPRINT       837 non-null    float64
 11  STD VERT         837 non-null    float64
 12  MAX VERT         837 non-null    float64
 13  BENCH            837 non-null    int32
 14  BODY FAT %       837 non-null    float64
 15  HAND L           837 non-null    float64
 16  HAND W           837 non-null    float64
 17  Season           837 non-null    int64
 18  Pos              837 non-null    object
 19  through_4_years  837 non-null    int64
 20  after_2010       837 non-null    int64
 21  BPM              837 non-null    float64
 22  MP               837 non-null    int64
dtypes: float64(14), int32(1), int64(5), object(3)
memory usage: 153.7+ KB

## Make Dataframe With Combine Measurements and First Year BPM

In [15]:
avg_BPM_stats = BPM_stats.groupby(['Name'],as_index=False)['BPM'].mean()
avg_BPM_stats
avg_BPM_stats.rename(columns={'BPM':'Avg_BPM'},inplace=True)

                Name        BPM
0        A.J. Guyton  -7.333333
1       A.J. Hammons  -6.600000
2         A.J. Price  -1.250000
3       Aaron Brooks  -0.783333
4       Aaron Gordon  -0.600000
...              ...        ...
1567  �eljko Rebraca  -2.533333
1568    �lex Abrines  -2.133333
1569       �mer Asik  -1.400000
1570   �ngel Delgado -12.000000
1571    �scar Torres  -0.800000

[1572 rows x 2 columns]

In [16]:
all_df = pd.merge(first_year_df,avg_BPM_stats,on=['Name'])

In [17]:
import pickle5 as pickle
file_name='cleaned_df.pkl'
f = open(file_name,'wb')
pickle.dump(all_df,f)
f.close()